.clock-time-label {
    font-family: 'Helvetica Neue';
    font-size: 128px;
    font-weight: 100;
    color: white;
    text-shadow: 4px 4px 8px black;
    background-color: transparent;
}

.clock-date-label {
    font-family: 'Helvetica Neue';
    font-size: 40px;
    font-weight: 200;
    color: white;
    text-shadow: 4px 4px 8px black;
    background-color: transparent;
}